* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #424242;
    margin: 20px 0;
}

.text_h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
}

.text_h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    color: #424242;
    margin-bottom: 27px;
}

form {
    margin: 0 auto;
    width: 692px;
    height: 970px;
    display: flex;
    flex-direction: column;
}


.form1,
.form2 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

input,
select {
    border: 1px solid #BDBDBD;
    border-radius: 83px;
    height: 50px;
    margin: 12px 0;
    padding-left: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
}

.input1,
select {
    width: 520px;
    margin-right: 20px;
}

select {
    appearance: none;
}

.form1::after {
    content: "";
    position: absolute;
    background: url('Vector.svg') no-repeat;
    z-index: 2;
    width: 20px;
    height: 20px;
    top: 105px;
    right: 190px;
}

.input2 {
    width: 254px;
}

.input3,
.input4,
.input5 {
    margin-left: 16px;
    width: 130px;
}

::-webkit-input-placeholder {
    color: #BDBDBD;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input6 {
    width: 100%;
}

.form2 input {
    width: 220px;
    margin-right: 16px;
}

.form2 input:nth-of-type(3) {
    margin-right: 0;
}

.form3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 49px;
}

.input_check,
.pay {
    display: none;
}

.label_check {
    position: relative;
    margin-left: 46px;
    margin-top: 3px;
}

.form3 input+label::before,
.form4 input+label::before {
    position: absolute;
    content: '';
    border-radius: 6.64286px;
    width: 30px;
    height: 30px;
    border: 1px solid #CFA5A5;
    top: -5px;
    left: -46px
}

input[type="checkbox"]:checked+label::before {
    background: url('icons_check.svg') no-repeat center;
}

.form4 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.label_pay {
    position: relative;
    margin-bottom: 19px;
    margin-left: 46px;
}

.form4 input+label::before {
    border-radius: 50%;
}

input[type="radio"]:checked+label::before {
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    box-shadow: inset 0 0 0 6px white;
}